<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lanjing.com.titan">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- sdcard读权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- sdcard写权限 -->
    <!-- 写内部存储 -->
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <!-- 读内部存储 -->
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /><!--允许安装和卸载权限-->
    <!-- 请求访问使用照相设备 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 安装 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:name=".TITanApp"
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/icon_logo"
        android:supportsRtl="true"
        android:theme="@style/SACTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.RegisterWalletActivity" />
        <activity android:name=".activity.RegisterWalletMyActivity" />
        <activity android:name=".activity.ImportWalletActivity" />
        <activity android:name=".activity.ImportWalletModifyActivity" />
        <activity android:name=".activity.ImportWalletBindActivity" />
        <activity android:name=".activity.PersonalActivity" />
        <activity android:name=".activity.SecurityCenterActivity" />
        <activity android:name=".activity.BindingPhoneActivity" />
        <activity android:name=".activity.ModifyLoginPwdActivity" />
        <activity android:name=".activity.ModifyDealPwdActivity" />
        <activity android:name=".activity.BillingDetailsActivity" />
        <activity android:name=".activity.ResetInformationActivity" />
        <activity android:name=".activity.MyInviteActivity" />
        <activity android:name=".activity.OnlineServiceActivity" />
        <activity android:name=".activity.AdviceFeedbackActivity" />
        <activity android:name=".activity.DisclaimerActivity" />
        <activity android:name=".activity.WalletManagerActivity" />
        <activity android:name=".activity.ExportWordActivity" />
        <activity android:name=".activity.ExportKeyActivity" />
        <activity android:name=".activity.AssetUSDActivity" />
        <activity android:name=".activity.AssetUsdDetailActivity" />
        <activity android:name=".activity.AssetTITANActivity" />
        <activity android:name=".activity.TItanTopUpActivity" />
        <activity android:name=".activity.TItanWithdrawActivity" />
        <activity android:name=".activity.AssetTitanDetailActivity" />
        <activity android:name=".activity.TItancWaitGetActivity" />
        <activity android:name=".activity.UsdAirdroppedActivity" />
        <activity android:name=".activity.WalletListActivity" />
        <activity android:name=".activity.SetWalletActivity" />
        <activity android:name=".activity.InformationDetailActivity" />
        <activity android:name=".activity.NoticeActivity" />
        <activity android:name=".activity.NoticeDetailActivity" />
        <activity android:name=".activity.IntelligentTradingActivity" />
        <activity android:name=".activity.ImportNewWalletActivity" />
        <activity android:name=".activity.HistoryEntrustActivity" />
        <activity android:name=".activity.NodeActivity" />
        <activity android:name=".activity.CommitteeActivity" />
        <activity android:name=".activity.CommitteeDetailActivity" />
        <activity android:name=".activity.AgreementActivity" />
        <activity android:name=".activity.FeedbackListActivity" />
        <activity android:name=".activity.FeedbackDetailActivity" />
        <activity android:name=".activity.RegisterBindingPhoneActivity" />
        <activity android:name=".activity.TiTanWithdrawMoney" />
        <!--选择提币地址-->
        <activity android:name=".activity.ActivitySelectAddress" />
        <!--添加提币地址-->
        <activity android:name=".activity.ActivityAddedAddress" />
        <!--兑换界面-->
        <activity android:name=".activity.ExchangeActivity" />
        <!--账单记录 兑换详情界面-->
        <activity android:name=".activity.ExchangeDetailsActivity" />
        <!--账单明细详情页-->
        <activity android:name=".activity.DetailsOfBillsActivity" />
    </application>

</manifest>